import React, { PureComponent } from 'react';
import { connect } from 'react-redux';
{{#if needStyledComponents}}
import styled from 'styled-components';
{{/if}}

class {{ properCase name }} extends PureComponent {
  componentDidMount() {}

  componentWillUnmount() {}

  render() {
    return (
      <div>

      </div>
    )
  }
}

{{#if needStyledComponents}}
const Styled{{ properCase name }} = styled({{ properCase name }})`

`;

export default Styled{{ properCase name }};
{{else}}
export default {{ properCase name }};
{{/if}}
