import React from 'react';
{{#if needPropTypes}}
import PropTypes from 'prop-types';
{{/if}}
{{#if needStyledComponents}}
import styled from 'styled-components';
{{/if}}

const {{ properCase name }} = () => (
  <div>

  </div>
);

{{#if needPropTypes}}
{{ properCase name }}.propTypes = {};
{{/if}}

{{#if needStyledComponents}}
const Styled{{ properCase name }} = styled({{ properCase name }})`

`;

export default Styled{{ properCase name }};
{{else}}
export default {{ properCase name }};
{{/if}}

