import * as React from 'react';
{{#if needStyledComponents}}
import styled from 'styled-components';
{{/if}}

interface IProps {

}

interface IState {

}

class {{ properCase name }} extends React.Component<IProps, IState> {
  render() {
    return (
      <div>

      </div>
    )
  }
}

{{#if needStyledComponents}}
const Styled{{ properCase name }} = styled({{ properCase name }})`

`;

export default Styled{{ properCase name }};
{{else}}
export default {{ properCase name }};
{{/if}}
